<html>
  <h1>
    Taxi Fare Predictor
  </h1>
   <body>

      <form action = "{% url 'predictions' %}"
         method = 'POST' >{% csrf_token %}
         <img src="http://www.naturalprogramming.com/images/smilingpython.gif">
         <div style = "max-width:470px;">
            <center>
            <label>Start time of trip ::</label>
               <input type = "text" style = "margin-left:20%;"
                  placeholder = "24 Hour Format" name = "date" />
            </center>
         </div>

         <br>
		<div style = "max-width:470px;">
            <center>
            <label>Select a Date in the Month of APRIL::</label>
               <select name = "adate" style = "margin-left:20%;">
               	<option value = "1">1</option>
               	<option value = "2">2</option>
               	<option value = "3">3</option>
               	<option value = "4">4</option>
               	<option value = "5">5</option>
               	<option value = "6">6</option>
               	<option value = "7">7</option>
               	<option value = "8">8</option>
               	<option value = "9">9</option>
               	<option value = "10">10</option>
               	<option value = "11">11</option>
               	<option value = "12">12</option>
               	<option value = "13">13</option>
               	<option value = "14">14</option>
               	<option value = "15">15</option>
               	<option value = "16">16</option>
               	<option value = "17">17</option>
               	<option value = "18">18</option>
               	<option value = "19">19</option>
               	<option value = "20">20</option>
               	<option value = "21">21</option>
               	<option value = "22">22</option>
               	<option value = "23">23</option>
               	<option value = "24">24</option>
               	<option value = "25">25</option>
               	<option value = "26">26</option>
               	<option value = "27">27</option>
               	<option value = "28">28</option>
               	<option value = "29">29</option>
               	<option value = "30">30</option>
               </select>
            </center>
         </div>

         <br>
         <div style = "max-width:470px;">
            <center>
               <label>Distance in KM ::</label>
               <input type = "text" style = "margin-left:20%;"
                  placeholder = "Distance in KM" name = "distance" />
            </center>
         </div>

         <br>

         <div style = "max-width:470px;">
            <center>
            <label>Number of Passengers ::</label>
               <select name = "option" style = "margin-left:20%;">
               	<option value = "1">1</option>
               	<option value = "2">2</option>
               	<option value = "3">3</option>
               	<option value = "4">4</option>
               	<option value = "5" >5</option>
               	<option value = "6">6</option>
               </select>
            </center>
         </div>

         <br>

         <div style = "max-width:470px;">
            <center>

               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type = "submit"
                  value = "Pridictions" >
                  <strong>Get Pridictions</strong>
               </button>

            </center>
         </div>

      </form>

   </body>
</html>
